<link rel="stylesheet" href="/error/style.css">
<div class="card">
    <div class="card-header">
        <h4 class="title" style="text-align: center"><b>Oops!</b> 페이지를 찾을 수 없습니다.</h4>
    </div>
    <div class="card-body">
        <section class="error-container">
            <span>4</span>
            <span><span class="screen-reader-text">0</span></span>
            <span>4</span>
        </section>
    </div>
</div>