<div class="fh5co-post">
    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-5.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-6.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-7.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-8.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-5.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-6.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-7.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>

    <div class="fh5co-entry padding">
        <img src="/public/layout/images/project-8.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date">October 12, 2016</span>
            <h2><a href="single.html">How to be an effective web developer</a></h2>
            <p>How two simple exercises changed my life</p>
        </div>
    </div>
    <footer>
        <div>
            &copy; 2016 Free HTML5. All Rights Reserved. Designed by <a href="http://freehtml5.co"
                                                                        target="_blank">FreeHTML5.co</a> Demo
            Images: <a href="http://unsplash.com" target="_blank">Unsplash</a>
        </div>
    </footer>
</div>