<link rel="stylesheet" href="/publc/kitche/post/food_card.css">
<div class="food-widget">
    <div class="container">
        <div class="upvotes">+114</div>
        <div class="details">
            <div class="recipe">
                <div class="name1">Shrimp</div>
                <hr/>
            </div> <!-- end recipe -->
        </div> <!-- end details -->
    </div> <!-- end container -->
</div> <!-- end food-widget -->