<div class="fh5co-post">
    <% for(var index = 0; index < data.length; index++) { %>
    <div class="fh5co-entry padding">
        <img src="<%= data[index].post[0].img_src %>" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
        <div>
            <span class="fh5co-post-date"><%= data[index].date %></span>
            <h2><a href="single.html"><%= data[index].index %>번째 오픈</a></h2>
        </div>
    </div>
    <% } %>
</div>