<link rel="stylesheet" href="/public/kitchen/post/food_card.css">
<div class="food-widget">
    <div class="food-container">
        <div class="food-up-votes">+114</div>
        <div class="food-details">
            <div class="food-recipe">
                <div class="food-name1">Shrimp</div>
                <hr/>
            </div> <!-- end recipe -->
        </div> <!-- end details -->
    </div> <!-- end container -->
</div> <!-- end food-widget -->