<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="kr"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>개발자가 되고싶은 김연중</title>
    <!-- Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="언제까지나 작성하자">
    <meta name="author" content="YeonJung Kim">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/portfolio/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/portfolio/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile img-circle" height="128" width="128"
                 src="https://avatars2.githubusercontent.com/u/4367890?v=3&s=460" alt=""/>
            <h1 class="name">김연중</h1>
            <h3 class="tagline">Student</h3>
        </div><!--//profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="portfolio"><i class="fa fa-id-card"></i><a
                            href="https://github.com/duswnd25/portfolio/blob/master/포트폴리오%20by%20원티드.pdf"
                            target="_blank">이력서</a>
                </li>
                <li class="email"><i class="fa fa-envelope"></i><a
                            href="mailto: duswnd25@gmail.com">duswnd25@gmail.com</a></li>
                <li class="linkedin">
                    <i class="fa fa-linkedin"></i>
                    <a href="https://kr.linkedin.com/in/연중-김-172989119" target="_blank">
                        YeonJung Kim
                    </a>
                </li>
                <li class="github"><i class="fa fa-github"></i><a href="http://github.com/duswnd25" target="_blank">github.com/duswnd25</a>
                </li>
                <li class="rocketpunch">
                    <a href="https://www.rocketpunch.com/@duswnd25">
                        <img src="https://img.shields.io/badge/로켓펀치-프로필-blue.svg?style=flat-square">
                    </a>
                </li>
                <li class="rocketpunch">
                    <a href="https://www.wanted.co.kr/profile/56242">
                        <img src="https://img.shields.io/badge/원티드-프로필-blue.svg?style=flat-square">
                    </a>
                </li>
            </ul>
        </div><!--//contact-container-->
        <div class="education-container container-block">
            <h2 class="container-block-title">학력</h2>
            <div class="item">
                <h4 class="degree">컴퓨터정보공학부 학부생</h4>
                <h5 class="meta">Catholic Univ of Korea</h5>
                <div class="time">2014 ~</div>
            </div><!--//item-->
            <div class="item">
                <h4 class="degree">의무교육</h4>
                <h5 class="meta">전남고등학교</h5>
                <div class="time">2011 - 2014</div>
                <h5 class="meta">광주동명중학교</h5>
                <div class="time">2008 - 2011</div>
            </div><!--//item-->
        </div><!--//education-container-->

        <div class="languages-container container-block">
            <h2 class="container-block-title">언어</h2>
            <ul class="list-unstyled interests-list">
                <li>한국어 <span class="lang-desc">(모국어)</span></li>
                <li>영어 <span class="lang-desc">(초-중급)<br>(의사표현, 이해 가능)</span></li>
            </ul>
        </div><!--//interests-->

        <div class="interests-container container-block">
            <h2 class="container-block-title">관심사</h2>
            <ul class="list-unstyled interests-list">
                <li>안드로이드</li>
                <li>오픈소스</li>
                <li>챗봇</li>
                <li>우쿨렐레</li>
                <li>보기좋은 코드</li>
                <li>코드 품질 향상</li>
                <li>기술의 보편화<br>(Tech for poor man)</li>
            </ul>
        </div><!--//interests-->

    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">

        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
            <div class="summary">
                <p>컴퓨터정보공학부 3학년 재학 중에 있습니다.<br>

                </p>
            </div><!--//summary-->
        </section><!--//section-->

        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>경력</h2>

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">웰대리 메인 개발자</h3>
                        <div class="time">2014 - 2015</div>
                    </div><!--//upper-row-->
                    <div class="company">웰대리</div>
                </div><!--//meta-->
                <div class="details">
                    <p>사회적 기업, 협동조합 모델을 통한 지속 발전 가능한 상생형 대리운전 시스템을 제공합니다.<br>
                        콜센터 등 컴퓨터로 대체 가능한 부분을 대체하여 줄어든 비용을 기사에게 재분배하는 시스템 개발</p>
                </div><!--//details-->
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">대한민국 육군 병장 만기전역</h3>
                        <div class="time">2015.08.17 - 2017.05.16</div>
                    </div><!--//upper-row-->
                    <div class="company">대한민국 육군</div>
                </div><!--//meta-->
                <div class="details">
                    <p>제 11기계화보병사단</p>
                </div><!--//details-->
                <hr>
            </div><!--//item-->
        </section><!--//section-->

        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>활동</h2>

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">회장</h3>
                        <div class="time">2017 - 현재</div>
                    </div><!--//upper-row-->
                    <div class="company">접근성 연구회 청자</div>
                </div><!--//meta-->
                <div class="details">
                    <p>배려가 아닌 더 나은 서비스를 위한 투자 접근성을 위해 지속적으로 홍보 및 주변 개발자에게 접근성 준수를 장려하고 있습니다.</p>
                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">멘토</h3>
                        <div class="time">2017 - 2017</div>
                    </div><!--//upper-row-->
                    <div class="company">외국인 멘토링 프로그램</div>
                </div><!--//meta-->
                <div class="details">
                    <p>외국인 유학생 멘토링 프로그램 멘토 참가</p>
                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">회원</h3>
                        <div class="time">2014 - 현재</div>
                    </div><!--//upper-row-->
                    <div class="company">가톨릭대학교 가톨릭 학생회 소피바라</div>
                </div><!--//meta-->
                <div class="details">
                    <p></p>
                </div><!--//details-->
            </div><!--//item-->

        </section><!--//section-->

        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-archive"></i>개인 프로젝트</h2>
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="project-title">Trend Reader</h3>
                        <div class="time">2017 ~ 현재</div>
                    </div>
                    <div class="sub">IT 기술 블로그 (기업/개인) 큐레이션 서비스
                        <a href="https://github.com/duswnd25/trend_reader">&nbsp;<i class="fa fa-github fa-2x"
                                                                                    aria-hidden="true"></i>&nbsp;</a>
                    </div>
                </div>
                <hr/>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="project-title">Raynerius</h3>
                        <div class="time">2016 ~ 현재</div>
                    </div>
                    <div class="sub">가톨릭 서비스의 개선 및 발전
                        <a href="https://duswnd25.github.io/VineYard/">&nbsp;<i class="fa fa-github fa-2x"
                                                                                aria-hidden="true"></i>&nbsp;</a></div>
                </div>
                <hr/>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="project-title">CUK</h3>
                        <div class="time">2014 ~ 현재</div>
                    </div>
                    <div class="sub">가톨릭대학교 모바일 앱
                        <a href="https://duswnd25.github.io/CUK/">&nbsp;<i class="fa fa-github fa-2x"
                                                                           aria-hidden="true"></i>&nbsp;</a>
                        <a href="https://play.google.com/store/apps/details?id=app.kimyeonjung.CukHolic">&nbsp;<i
                                    class="fa fa-android fa-2x" aria-hidden="true"></i>&nbsp;</a>
                    </div>
                    <hr/>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="project-title">Report:Helper</h3>
                            <div class="time">2014</div>
                        </div>
                        <div class="sub">스마트폰과 음성인식을 활용한 타이핑 보조
                            <a href="https://duswnd25.github.io/ReportHelper/">&nbsp;<i class="fa fa-github fa-2x"
                                                                                        aria-hidden="true"></i>&nbsp;</a>
                        </div>
                    </div>
                    <hr>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="project-title">Cuk Dormitory</h3>
                            <div class="time">2014</div>
                        </div>
                        <div class="sub">가톨릭대학교 기숙사 외출/외박 신청
                            <a href="https://duswnd25.github.io/CukDormitory/">&nbsp;<i class="fa fa-github fa-2x"
                                                                                        aria-hidden="true"></i>&nbsp;</a>
                            <a href="https://play.google.com/store/apps/details?id=app.kimyeonjung.cuk_dom">&nbsp;<i
                                        class="fa fa-android fa-2x" aria-hidden="true"></i>&nbsp;</a>
                        </div>
                    </div>
                    <hr>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="project-title">AfterCall</h3>
                            <div class="time">2014</div>
                        </div>
                        <div class="sub">전화 수발신 후 문자 전송
                            <a href="https://duswnd25.github.io/AfterCall/">&nbsp;<i class="fa fa-github fa-2x"
                                                                                     aria-hidden="true"></i>&nbsp;</a>
                        </div>
                    </div>
                    <hr>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="project-title">Remind-ME</h3>
                            <div class="time">2014</div>
                        </div>
                        <div class="sub">연락처 관리
                            <a href="https://duswnd25.github.io/Remind-ME/">&nbsp;<i
                                        class="fa fa-github fa-2x" aria-hidden="true"></i>&nbsp;</a>
                        </div>
                    </div>
                    <hr>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="project-title">I-Media</h3>
                            <div class="time">2013</div>
                        </div>
                        <div class="sub">인디밴드 SiD-Sound 홍보
                            <a href="https://duswnd25.github.io/IMedia/">&nbsp;<i
                                        class="fa fa-github fa-2x" aria-hidden="true"></i>&nbsp;</a>
                            <a href="http://www.tstore.co.kr/userpoc/apps/view?pid=0000325624">&nbsp;<i
                                        class="fa fa-android fa-2x" aria-hidden="true"></i>&nbsp;</a>
                        </div>
                    </div>
                    <hr>
                </div><!--//item-->
            </div>
        </section><!--//section-->

        <section class="section license-section">
            <h2 class="section-title"><i class="fa fa-id-card-o"></i>자격증</h2>
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">GTQ 2급</h3>
                        <div class="time">2015</div>
                    </div>
                    <div class="company">한국생산성본부</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">워드프로세서 1급</h3>
                        <div class="time">2007</div>
                    </div>
                    <div class="company">대한상공회의소</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">워드프로세서 2급</h3>
                        <div class="time">2006</div>
                    </div>
                    <div class="company">대한상공회의소</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">실용영어 PELT 3급</h3>
                        <div class="time">2006</div>
                    </div>
                    <div class="company">한국외국어평가원</div>
                </div>
                <hr>
            </div><!--//item-->
        </section><!--//section-->

        <section class="awards-section section">
            <h2 class="section-title"><i class="fa fa-trophy"></i>수상</h2>
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">학술연구장학 2위</h3>
                        <div class="time">2017</div>
                    </div>
                    <div class="company">가톨릭대학교 컴퓨터정보공학부</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">학습커뮤니티 우수 사례 선정</h3>
                        <div class="time">2017</div>
                    </div>
                    <div class="company">가톨릭대학교</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">학술제 창의소프트웨어 부문 2위</h3>
                        <div class="time">2017</div>
                    </div>
                    <div class="company">가톨릭대학교 컴퓨터정보공학부</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">대한민국 육군 특급전사 표창</h3>
                        <div class="time">2016</div>
                    </div>
                    <div class="company">제 11기계화보병사단</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">창업아이디어 공모전 인문사회 기술융합형 우수상</h3>
                        <div class="time">2014</div>
                    </div>
                    <div class="company">가톨릭대학교</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">학술제 창의소프트웨어 부문 2위</h3>
                        <div class="time">2014</div>
                    </div>
                    <div class="company">가톨릭대학교 컴퓨터정보공학부</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">동아리 활동 발표 대회 은상</h3>
                        <div class="time">2012</div>
                    </div>
                    <div class="company">전남고등학교</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">과학, 정보 동아리 연구활동 발표대회 3위</h3>
                        <div class="time">2012</div>
                    </div>
                    <div class="company">전남고등학교</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">과학탐구대회 로봇과학 부문 1위</h3>
                        <div class="time">2010</div>
                    </div>
                    <div class="company">광주동명중학교</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">영재교육 창의적 산출물 발표대회 1위</h3>
                        <div class="time">2009</div>
                    </div>
                    <div class="company">광주광역시교육감</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">광주학생명예헌장 자랑스런 광주학생 표창</h3>
                        <div class="time">2009</div>
                    </div>
                    <div class="company">광주광역시교육감</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">대한민국 학생 창의력 올림피아드 광주 예선 1위</h3>
                        <div class="time">2009</div>
                    </div>
                    <div class="company">광주광역시교육감</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">대한민국 학생 창의력 올림피아드 구조물 부문 1위</h3>
                        <div class="time">2009</div>
                    </div>
                    <div class="company">지식경제부장관</div>
                </div>
                <hr>
            </div><!--//item-->
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">대한민국 학생 창의력 올림피아드 즉석과제부문 1위</h3>
                        <div class="time">2009</div>
                    </div>
                    <div class="company">한국학교발명협회장</div>
                </div>
                <hr>
            </div><!--//item-->
        </section><!--//section-->

        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>기술</h2>
            <div class="skillset">
                <div class="item">
                    <h3 class="level-title">Java &amp; Android</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="35%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
                <div class="item">
                    <h3 class="level-title">C</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="10%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
                <div class="item">
                    <h3 class="level-title">Node.js</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="20%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
            </div>
        </section><!--//skills-section-->
    </div><!--//main-body-->
</div>

<footer class="footer">
    <div class="text-center">
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com"
                                                                                 target="_blank">Xiaoying Riley</a> for
            developers
        </small>
    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="/portfolio/js/main.js"></script>
</body>
</html>
