<div class="card">
    <div class="card-header">
        <h4 class="title"><%- data.description %></h4>
        <p class="category"><%- data.date %></p>
    </div>
    <div class="card-body">

        <% for(let index = 0; index < data.post.length; index++) { %>
        <div class="typography-line">
            <img style="max-width:800px;display: block; margin-left: auto; margin-right: auto; width: 80%;"
                 src="<%= data.post[index].img_src %>"
                 alt="Food Image">
            <h6 style="text-align: center;padding: 16px;"><%- data.post[index].text %></h6></div>
        <% } %>
    </div>
</div>